html {
  font-size: 16px;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  background-color: #F9F9F9;
  color: #000000;
  margin: 0;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, th { font-weight: normal; }

/* Minor third */
h1 { font-size: 2.488em; }
h2 { font-size: 2.074em; }
h3 { font-size: 1.728em; }
h4 { font-size: 1.44em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }
small { font-size: 0.833em; }

nav, main {
  max-width: 60em;
  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1em;
}

header {
  text-align: left;
  background-color: rgb(107, 202, 226);
  padding: .5em;
}

header nav ul {
  list-style: none;
}

header nav li {
  display: inline;
}

nav a {
  text-decoration: none;
  color: inherit;
  background-color: #EEE;
  border-radius: .2em;
  padding: .5em;
  margin-left: 1em;
}

nav a:hover, nav a:focus {
  background-color: #00D;
}

main img {
  max-width: 50%;
  display: block;
  margin: auto;
}

ul, ol, li {
  margin-left: 0;
  padding-left: 0;
}

ul {
  list-style: disc outside none;
}

blockquote {
  border-left: solid .2em #333;
  padding-left: 1em;
  margin-left: 0;
}

footer {
  line-height: 1.2;
  font-size: 80%;
  background: rgb(107,202,226);
  color: #303030;
  padding: 1em;
  text-align: right;
  margin-top: 5em;
}

footer a {
  color: inherit;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#logos {
  background: rgb(107,202,226);
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  text-align: left;
  background-color: rgb(107, 202, 226);
  padding: .5em;
}


#logos img {
  height: 80px;
}
