<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} — {% endif %}Open Mobility Indicators</title>
    <link rel="icon" href="img/img_c13d.png" />
    <link href="css/main.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body>
    <header>
      <nav>
        <h3>
        <ul>
          <li><a href="index"><img src="img/img_c13d.png" height=60 width=60 style="vertical-align:middle;margin:00px 0px" alt="Accueil"></a></li>
          <li><a href="projet">Le projet</a></li>
          <li><a href="doc">Doc</a></li>
          <li><a href="contribuer">Contribuer</a></li>
          <li><a href="avis">Contact</a></li>
        </ul>
        </h3>
      </nav>
    </header>

    <main>
      {{ content }}
    </main>

    <div id="logos">
      <a href="https://jailbreak.paris"><img src="img/jb.png" alt="Jailbreak"/></a>
      <a href="https://infomobi.bee.wf"><img src="img/logo-walk-small.png" alt="infomobi"></a>
      <a href="https://maregionsud.fr"><img src="img/sudpaca.png" alt="Région Sud Paca"/></a>
      <a href="https://www.paca.ademe.fr/"><img src="img/ademe.png" alt="Ademe"/></a>
      <a href="https://resilience-territoire.ademe.fr/"><img src="img/resil-terr.jpg" alt="Resilience des territoires"/></a>
      <a href="https://fabmob.io/"><img src="img/logo-fabmob.png" alt="FabMob"/></a>
    </div>
  </body>
</html>
